*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    box-sizing: border-box;

}
p{
    float: left;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 280px;
    font-size: 30px;
}

.link{
    margin-top: 15px;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 50px;
    
}
a{
    text-decoration: none;
}
#button{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: green;
    color: black;
    font-weight: bold;
}
#button:hover{
    background-color: red;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

// .container-left{
//     display: grid;
//     justify-content: center;
//     align-items: center;
// }

h1{
    color: green;
    font-size: 50px;
}
h2{
    color: black;
    font-size: 60px;
    align-items: center;
    
}
h3{
    color: black;
    font-size: 30px;
}

#button-2{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    background-color: green;
    color: black;
    font-weight: bold;
}
#button-2:hover{
    background-color: red;
    color: white;
}

img{
    margin-top: 20px;
    
}
